* {
	color: #ebebeb;
	margin: 0px;
}
body {
	width: 600px;
	background-color: #1b2838;
}
h1 {
	padding: 10px 0px 10px 0px;
	text-align: center;
	background-color: #171a21;
}
h2 {
	margin-left: 10px;
	cursor: pointer;
}
h2:hover {
	color: #67c1f5;
}
#message {
	margin-bottom: 20px;
}
#achievements_column {
	margin: 20px;
}
.link {
	text-decoration: underline;
	cursor: pointer;
}
.game_block {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.game_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #2f343f;
	box-shadow: 10px 5px 5px black;
}
.game_image {
	width: 100px;
}
.achievements_list {
	display: flex;
	flex-direction: column;
	margin: 0px 5px 0px 5px;
	background-color: #111923;
}
.achievement_row {
	display: flex;
	margin: 4px 5px 4px 5px;
}
.achievement_image {
	width: 50px;
}
.achievement_text_holder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: -webkit-fill-available;
	margin-left: 5px;
	background: linear-gradient(to right, #00000080 75%, #6bb64d) !important;
}
.achievement_text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 6px;
}
.achievement_description {
	color: #898989;
}
.buttons {
	display: flex;
	margin-right: 4px;
}
.button {
	width: 16px;
	height: 16px;
	margin: 4px;
	padding: 4px;
	overflow: hidden;
	background-color: #233b4d;
	border-radius: 2px;
	cursor: pointer;
}
.button:hover {
	background-color: #67c1f5;
}
.button_icon {
	width: 16px;
	height: 16px;
	background: url(https://community.akamai.steamstatic.com/public/shared/images/buttons/icons_16.png?v=5);
	overflow: hidden;
}
.good_icon {
	background-position: -80px 0px;
}
.good_icon_hover {
	background-position: -112px 0px;
}
.good_icon_clicked {
	background-position: -96px 0px;
}
.bad_icon {
	background-position: -32px 0px;
}
.bad_icon_hover {
	background-position: -48px 0px;
}