.achieveTxtHolder {
	justify-content: space-between;
}
.sat_buttons {
	display: flex;
	margin-right: 4px;
}
.sat_button {
	width: 16px;
	height: 16px;
	margin: 4px;
	padding: 4px;
	overflow: hidden;
	background-color: #233b4d;
	border-radius: 2px;
	cursor: pointer;
}
.sat_button:hover {
	background-color: #67c1f5;
}
.sat_button_icon {
	width: 16px;
	height: 16px;
	background: url(https://community.akamai.steamstatic.com/public/shared/images/buttons/icons_16.png?v=5);
	overflow: hidden;
}
.sat_good_icon {
	background-position: -80px 0px;
}
.sat_good_icon_hover {
	background-position: -112px 0px;
}
.sat_good_icon_clicked {
	background-position: -96px 0px;
}
.sat_bad_icon {
	background-position: -32px 0px;
}
.sat_bad_icon_hover {
	background-position: -48px 0px;
}
.sat_bad_icon_clicked {
	background-position: -64px 0px;
}
.sat_ballon {
	position: absolute;
	width: 100px;
	top: -40px;
	margin: 0px;
	padding: 5px;
	border-radius: 4px;
	font-size: small;
	text-align: center;
	user-select: none;
	color: black;
	background-color: #dbe2e6;
	transition: 0.5s;
	opacity: 0;
	pointer-events: none;
}
.sat_ballon_good {
	left: calc(100% - 108px);
}
.sat_ballon_bad {
	left: calc(100% - 78px);
}
.sat_ballon_show {
	opacity: 1;
}
.sat_good_row {
	background: linear-gradient(to right, #00000080 75%, #6bb64d) !important;
}
.sat_bad_row {
	background: linear-gradient(to right, #00000080 75%, #aa4c4c) !important;
}